<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
{% include_cached favicons.html %}
<!-- end custom head snippets -->


<!-- To enable ads change advertisement in _config.yml to true -->
{% if site.advertisement %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8829925133834426",
    enable_page_level_ads: true
  });
</script>
{% endif %}

