{% assign crumb-old = page.breadcrumbs[0] %}

<nav class="breadcrumbs">
  <ol itemscope="" itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
      <a href="{{ '/' | relative_url }}" itemprop="item"><svg class="icon"><use xlink:href="{{ 'icons.svg#icon-home' | prepend: 'assets/icons/' | relative_url }}"></use></svg>
      <span itemprop="name">{{ site.data.ui-text[site.locale].breadcrumb_home_label | default: "Home" }}</span>
      <meta itemprop="position" content="1" /></a>
    </li>
   
    {% for crumb in page.breadcrumbs %}
      <span class="sep" aria-label="breadcrumb separator">{{ site.data.ui-text[site.locale].breadcrumb_separator | default: "/" }}</span>

      <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
        <a href="{{ crumb.url | relative_url }}" itemprop="item">
        <span itemprop="name">{{ crumb.label }}</span>
        <meta itemprop="position" content="{{ forloop.index | plus: 1 }}" /></a>
      </li>

    {% endfor %}
  
 </ol>
</nav>