<section class="page__share">
  {% if site.data.ui-text[site.locale].share_on_label %}
    <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</h4>
  {% endif %}

  <a href="https://api.whatsapp.com/send?text={{ page.url | absolute_url | url_encode }}" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} WhatsApp" class="btn btn--whatsapp"><svg class="icon"><use xlink:href="{{ 'icons.svg#icon-whatsapp' | prepend: 'assets/icons/' | absolute_url }}"></use></svg>
    <span class="hidden"> WhatsApp</span>
  </a>
  
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | url_encode }}" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Facebook" class="btn btn--facebook"><svg class="icon"><use xlink:href="{{ 'icons.svg#icon-facebook' | prepend: 'assets/icons/' | absolute_url }}"></use></svg>
    <span class="hidden"> Facebook</span>
  </a>

  <a href="https://twitter.com/intent/tweet?{% if site.twitter.username %}via={{ site.twitter.username | url_encode }}&{% endif %}text={{ page.title | url_encode }}%20{{ page.url | absolute_url | url_encode }}" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Twitter" class="btn btn--twitter"><svg class="icon"><use xlink:href="{{ 'icons.svg#icon-twitter' | prepend: 'assets/icons/' | absolute_url }}"></use></svg>
    <span class="hidden"> Twitter</span>
  </a>

  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} LinkedIn" class="btn btn--linkedin"><svg class="icon"><use xlink:href="{{ 'icons.svg#icon-linkedin' | prepend: 'assets/icons/' | absolute_url }}"></use></svg>
    <span class="hidden"> LinkedIn</span>
  </a>
  
  <a href="https://plus.google.com/share?url={{ page.url | absolute_url | url_encode }}" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Google Plus" class="btn btn--googleplus"><svg class="icon"><use xlink:href="{{ 'icons.svg#icon-googleplus' | prepend: 'assets/icons/' | absolute_url }}"></use></svg>
    <span class="hidden"> Google+</span>
  </a>

 <!-- 
  <a href="https://www.reddit.com/submit?url={{ page.url | absolute_url | url_encode }}" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Reddit" class="btn btn--reddit"><svg class="icon"><use xlink:href="{{ 'icons.svg#icon-reddit' | prepend: 'assets/icons/' | absolute_url }}"></use></svg><span> Reddit</span></a>
 -->
   
</section>
