---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

.mfp-close:focus {
    outline: none;
  }

$link-color: #C0392B;
$link-color-hover: mix(#000, $link-color, 25%);
$link-color-visited: mix(#fff, $link-color, 25%);
// $masthead-link-color: $primary-color;
// $masthead-link-color-hover: mix(#000, $primary-color, 25%);
// $navicon-link-color-hover: mix(#fff, $primary-color, 75%);

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials







