/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */

$background-color: #eeeeee !default;
$text-color: #222831 !default;
$muted-text-color: #393e46 !default;
$border-color: mix(#fff, $muted-text-color, 75%) !default;
$footer-background-color: $background-color !default;



.page__footer {
  color: $muted-text-color !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
