/* ==========================================================================
   BUTTONS
   ========================================================================== */

/*
   Default button
   ========================================================================== */

.btn {
  /* default */

  background-color: $text-color;
  border-radius: $border-radius;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $monospace;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 1.5;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  
  //margin-bottom: 0.25em;

  &:hover {
    @include yiq-contrasted(mix(#fff, $text-color, 20%));
    color: #fff;
    text-decoration: none;
  }

  &:visited {
    color: #fff;
  }

  &:active {
    transform: scale(0.95);
  }

  .icon {
    margin-right: 0.5em;
  }


  .icon + .hidden {
    margin-left: -0.5em; /* override for hidden text*/
  }

  

  /* button colors */
  $buttoncolors:
  (apple, $apple-color),
  (android, $android-color),
  (primary, $primary-color),
  (inverse, #fff),
  (light-outline, transparent),
  (success, $success-color),
  (warning, $warning-color),
  (danger, $danger-color),
  (github, $github-color),
  (info, $info-color),
  (facebook, $facebook-color),
  (twitter, $twitter-color),
  (googleplus, $googleplus-color),
  (linkedin, $linkedin-color),
  (reddit, $reddit-color),
  (amazon, $amazon-color),
  (paypal, $paypal-color);

  @each $buttoncolor, $color in $buttoncolors {
    &--#{$buttoncolor} {
     
      @include yiq-contrasted($color);  // background-color is set by this mixin
      @if ($buttoncolor == inverse) {
        border: 1px solid $border-color;
        background-color: #fff;
        color: $text-color !important;

      }
      @if ($buttoncolor == light-outline) {
        border: 1px solid #fff;
        background-color: transparent;        
      }
     
      &:hover {
        @include yiq-contrasted(mix(#000, $color, 20%));
      }
    }
  }

  /* fills width of parent container */
  &--block {
    display: block;
    width: 100%;

    + .btn--block {
      margin-top: 0.25em;
    }
  }

  /* disabled */
  &--disabled {
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events: none;
    filter: alpha(opacity=65);
    
  }

  /* extra large button */
  &--x-large {
    font-size: $type-size-4;
  }

  /* large button */
  &--large {
    font-size: $type-size-5;
  }

  /* small button */
  &--small {
    font-size: $type-size-7;
  }


  &--group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    @include breakpoint($medium) {
      flex-direction: row;
    }

    .btn {
      margin-bottom: 0.25em;
    }

    .btn + .btn {
      @include breakpoint($medium) {
        margin-left: 0.25em;
      }
    }
  }


}