/* ==========================================================================
   Icons
   ========================================================================== */

.icon {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  line-height: 1;
  position: relative;
  top: -0.125em; // fine-tune alignment
  vertical-align: middle;
  stroke-width: 0;
  stroke: currentColor;

  &.spin {
    animation: spin 2s infinite linear;
  }